entryPoints:
  web:
    address: ":80"
    http:
      # Auto-redirect to HTTPS
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"

api:
  insecure: true

providers:
  docker:
    exposedByDefault: false
  file:
    directory: "/traefik/config/dynamic"

certificatesResolvers:
  myresolver:
    acme:
      httpChallenge:
        entryPoint: web
      email: "postmaster@nongabbo.duckdns.org"
      storage: "/traefik/certs/acme/acme.json"

serversTransports:
  insecure-transport:
    insecureSkipVerify: true
